<nav>
    <div class="nav-wrapper">
        {{#link-to 'charts' class="brand-logo"}}Charts Demo{{/link-to}}
    </div>
</nav>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}